<div class="mt-4">
    <div>
        <a class="trash-text" href="/me/stored/courses">Quay lại danh sách khóa học</a>
        <h3>Khóa học đã xóa</h3>
    </div>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name Course</th>
                <th scope="col">Level</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-info btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống.
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete this item, are you sure ?</h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btn-delete-course">Delete Now</button>
            </div>
        </div>
    </div>
</div>

{{!--Trick Delete Hidden Form --}}
<form id="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

{{!-- Script delete courseID--}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreBtn = $('.btn-restore');

        //when dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseID = button.data('id') // Extract info from data-* attributes
        });

        //delete course when btn clicked
        btnDeleteCourse.addEventListener('click', () => {
            deleteForm.action = '/courses/' + courseID + '?_method=DELETE';
            deleteForm.submit();
        })

        //restore btn clicked
        restoreBtn.click(function(e) {
            e.preventDefault();
            var courseId = ($(this).data('id'));

            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    });
</script>